<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Temp\logs\nlog-internal.log">

  <extensions>
    <!-- enable NLog.Web for ASP.NET Core -->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!--<variable name="logDirectory" value="c:\temp\logs" />-->

    <target name="database" xsi:type="Database">
      <dbProvider>microsoft.data.sqlclient</dbProvider>
      <connectionString>Server=.;Database=superherodb;Trusted_Connection=True;TrustServerCertificate=true;MultipleActiveResultSets=true</connectionString>
      <commandText>
        insert into LogTable(TimeStamp, Level, Logger, Message, Exception) values
        (@TimeStamp, @Level, @Logger, @Message, @Exception);
      </commandText>
      <parameter name="@timestamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=ToString}" />
    </target>

    <!--<target name="file1" xsi:type="File" fileName="${logDirectory}\file1.txt" />-->
    <target name="file1" xsi:type="File" fileName="C:\Temp\logs\file1.log" />

    <!-- write logs to file -->
    <!--<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <!--<target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

    <!-- write to the console -->
    <target xsi:type="Console" name="ownConsole" layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="database" />

    <logger name="*" minlevel="Warn" writeTo="file1" />

    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Trace" writeTo="ownConsole" />
  </rules>
</nlog>

<!-- 
Trace
Debug
Info
Warn
Error
Fatal
-->